.banner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../Assets/backgroundhome.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    height: 223px;
    padding: 20px;
    max-width: 95%;
    margin: 43px auto;
    @media screen and (max-width:550px){
        margin: 20px auto;
        height: 120px; 
    }
    &_about{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        height: 223px;
        margin: 43px auto;
        max-width: 95%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../Assets/backgroundabout.jpg');
        background-size: cover;
        background-position: center;
        @media screen and (max-width:550px){
            margin: 20px auto;
            height: 120px; 
        }
        
    }
    p{
        color: $color-secondary;
        font-size: clamp(20px, 4vw, 48px);
    }
}