.carousel {
    position: relative;
    display: flex;
    width: 90%;
    height: 415px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    margin: 43px auto;
    @media  screen and (max-width:650px) {
        height: 255px;
        margin:20px auto;
    }
    &_fleche{
        position: absolute;
        top: 55%;
        width: 96px;
        height: 79px;
        transform: translateY(-50px);
        cursor: pointer;
        &:active {
            transform: translateY(-50px) scale(0.9);
        }
        &_right {
            right: 10px;
        }
        &_left{
            left: 10px;
        }
        @media screen and (max-width:$breakpoint-desktop){
                width: 24px;
                height: 24px;
                top: 65%;
        }
    }
    .compteur {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $color-tertiary;
        font-weight: 500;
        font-size: clamp(18px, 2vw, 20px);

    }
}