.home_gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 25px;
    background-color: $color-secondary;
    padding: 50px;
    margin: 50px 100px;
    max-width: 95%;
    @media screen and (max-width:$breakpoint-desktop){  
        margin: 0 20px;
        gap: 25px; 
        padding:25px 0;
        background-color: transparent;
     }
    @media screen and (max-width: 1300px){
        gap:20px
        
    }
}