.nav_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  text-transform: none;
  @media screen and (max-width: $breakpoint-desktop){
    text-transform: uppercase;
    gap: 20px;

  }

  &_nav-home,
  &_nav-propos {
    text-decoration: none;
    color:$color-primary;
    text-align: right;
    font-size: 24px;
    @media  screen and (max-width: $breakpoint-desktop) {
      font-size: 12px;
    }
     &:hover{
      text-decoration: underline ;
    }
  }
}