.nav_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  font-size: 24px;
  @media screen and (max-width: $breakpoint-desktop){
    text-transform: uppercase;
    gap: 20px;
    font-size: 12px;
  }

  &_nav-home,
  &_nav-propos {
    text-decoration: none;
    color:$color-primary;
    text-align: right;

  }
}